@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-surface: #0f0f12;

  --color-primary: #8b5cf6;
  --color-secondary: #3b82f6;

  --color-muted: #71717a;

  --font-display: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #050505;
  color: white;
  font-family: Inter, system-ui, sans-serif;
}